.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  padding: 2rem;
}

.logo {
  height: 280px;
  margin-bottom: 1rem;
}

.App-header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #000000;
}

.App-header p {
  font-size: 1.2rem;
  color: #000000;
}

